form > div > input{
    font-size: 16px;
    background-color: rgba(102,102,102,0.15);
    border: 2px solid #fff;
    padding: 0 10px;
}


form > div > select{
    font-size: 16px;
    background-color: rgba(102,102,102,0.15);
    border: 2px solid #fff;
    padding: 0 10px;
}


h1{
    font-size: 36px;
    text-align: left;
}

.labelstyle {
    text-align: left; 
}
h3{
    font-size: 20px;
    text-align: left;
}